.ayni-container {
    position: fixed;
    display: block;
    padding: 0px;
    margin: 0px;
    bottom: 5px;
    right: 5px;
}


.ayni-versions {
    display: none;
    list-style-type: none;
    float: left;
    margin: 0px 15px 0px 0px;
    padding: 5px 5px 5px 5px;
    background-color: #5E6A71;
    border: 2px solid #E6E8E8;
    color: #E6E8E8;
    text-decoration: underline;
    border-radius: 3px;
}

.ayni-versions a {
    text-decoration: none;
    color: #E6E8E8;
}

#ayni-version-anchor {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    color: #E6E8E8;
    background-color: #5E6A71;
    border: 2px solid #E6E8E8;
    border-radius: 3px;
}

.ayni-container:hover li{
    opacity: 1;
    display: inline-block;
    list-style-type: none;
}
